/* Variables globales */

:root {
    --logo_fondo: #6eb63d;
    --logo_fondo2: #11507b;
    --fondo_color: #0e1217;
    --fondo_caja: #11151c;
    --fondo_card: #1f222b;
    --texto_prim: #e8e8e4;
    --texto_secun: #b4b6b3;
    --color_secun: #21dcbe;
    --acento_color: #2ad62d;
}

* {
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Detalles del cuerpo*/
body {
    background: var(--fondo_color);
    color: var(--texto_secun);
}

/* Clase para botones */
.button {
    cursor: pointer;
    margin: 5px;
    padding: 15px 20px;
    box-shadow: inset 0px 0px 5px 0px var(--color_secun);
    background: #1b2328;
    color: var(--color_secun);
    font-size: 15px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    transition: all;
    transition-duration: 0.3s;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease 1s;
}

.button.view {
    opacity: 1;
    transform: translateY(0px);
}

.button:active {
    background: var(--color_secun);
    color: var(--fondo_color);
}

/* Loading Section */
.loading_section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--fondo_color);
}

.loading_container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    font-size: 430%;
    color: var(--texto_prim);
    font-weight: bold;
    overflow: hidden;
    border-radius: 10px;
    animation-name: Animo_Logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.logo_top span {
    display: flex;
    padding-top: 10%;
}

.logo_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 49%;
}

.logo_ma {
    display: flex;
    position: relative;
    justify-content: end;
    width: 59%;
    height: auto;
    font-family: sans-serif;
    background: var(--logo_fondo2);
}

.logo_ma::before {
    content: '';
    position: absolute;
    width: 3%;
    height: 50%;
    background: var(--texto_prim);
    bottom: 0px;
    right: 50%;
}

.logo_ma::after {
    content: '';
    position: absolute;
    width: 3%;
    height: 45%;
    background: var(--logo_fondo2);
    bottom: 0px;
    right: 47%;
}

.logo_le {
    width: 39%;
    background: var(--logo_fondo);
}

.logo_xium {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 49%;
    background: var(--logo_fondo);
}


/* luces de fondo */
.lights {
    background: radial-gradient(var(--color_secun), transparent);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 30px var(--color_secun);
    opacity: .2;
    animation-name: Animo_Luces;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

/* Navbar*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    background: linear-gradient(var(--fondo_color), var(--fondo_color), #111019de);
    border-bottom: solid 4px #262c35;
}

.logo {
    width: 50px;
}

.navbar ul {
    display: flex;
    align-items: center;
    z-index: 1;
}

li {
    display: inline;
    margin-left: 20px;
    font-size: 13px;
}

.span_w {
    color: var(--acento_color);
}

.icon_hamb {
    display: flex;
    width: 25px;
    height: 5px;
    background: var(--texto_secun);
    border-radius: 2px;
    margin: 2px;
}

#cont_hamburguer {
    cursor: pointer;
}

#cont_hamburguer:active .icon_hamb {
    background: var(--acento_color);
}

/* Hamburguer */
#hamburguer {
    width: 70%;
    max-width: 300px;
    background: linear-gradient(to right, var(--fondo_color), var(--fondo_caja));
    border: solid 4px #262c35;
    border-radius: 10px;
    top: 75px;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    right: -100%;
    z-index: 1;
}

#hamburguer a {
    color: var(--texto_prim);
    background: linear-gradient(to right, var(--fondo_card), var(--fondo_caja));
    margin: 10px 20px;
    padding: 20px;
    border-radius: 10px;
    border-bottom: solid 2px var(--fondo_caja);
}

#hamburguer a:hover {
    color: var(--color_secun);
    border-bottom: solid 2px var(--color_secun);
}

/* Seccion de presentacion */
.section_1 {
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
    margin-top: 7rem;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.perfil_info {
    max-width: 300px;
    overflow: hidden;
}

.s1_a {
    font-weight: bold;
    color: var(--acento_color);
    margin-bottom: 20px;
}

.perfil_info h2 {
    font-size: 30px;
    padding: 5px 0px;
    border-radius: 10px 3px 3px 3px;
    color: var(--texto_prim);
    font-weight: bold;
}

.ma_home {
    background: var(--texto_prim);
    color: var(--fondo_color);
    border-radius: 10px 3px 3px 3px;
    font-weight: bold;
}

.alex_anim {
    position: relative;
}

.alex_anim::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 100%;
    border-radius: 1px;
    background: var(--acento_color);
    animation-name: Animo_Pompet;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.perfil_info h3 {
    margin-top: 0px;
    margin-bottom: 25px;
    color: var(--texto_secun);
}

.s1_p {
    margin-bottom: 10px;
    line-height: 25px;
    color: var(--fondo_color);
    background: linear-gradient(to right, var(--color_secun), #5ee16c);
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(150px);
    transition: all 1s ease;
}

.s1_p.view {
    opacity: 1;
    transform: translateX(0px);
}

.perfil_info div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button:first-child {
    background: var(--color_secun);
    color: var(--fondo_color);
    box-shadow: inset 0px 0px 5px var(--fondo_color);
}

.button:first-child:active {
    background: var(--fondo_color);
    color: var(--color_secun);
    box-shadow: inset 0px 0px 5px var(--color_secun);
}

#my_photo {
    display: flex;
    width: 100%;
    border-radius: 50%;
    max-width: 400px;
    opacity: 0;
    transition: all 2s ease-in-out .5s;
    background: radial-gradient(transparent, #24dfc098, transparent, transparent);
}

#my_photo.view {
    opacity: .6;
}

/* Seccion de servicios */
.card {
    padding: 40px 0px;
}

.perfil_top_1 {
    text-align: center;
    max-width: 300px;
    margin: 0px auto;
    border-bottom-color: var(--acento_color);
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card_1 {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 200px;
    margin: 10px;
    padding: 10px;
    background: var(--fondo_card);
    box-shadow: inset 0px 0px 10px var(--color_secun);
    border-radius: 20px;
    border: solid 4px var(--color_secun);
    opacity: 0;
    transition: opacity 1s ease, transform .5s ease;
    transform: translateY(-50px);

}

.card_1.view {
    opacity: 1;
    transform: translateY(0px);
}

.card_1:hover {
    transform: scale(0.8);
}

.border_botton_body {
    margin: 0px 5%;
    text-align: center;
    color: var(--texto_prim);
}

.service_icon {
    width: 40%;
    margin: 20px 0px;
}

.serv_cont_detall {
    color: var(--texto_secun);
    text-align: center;
}

.secundary_color {
    line-height: 20px;
    max-width: 300px;
}

.detall_cont {
    display: flex;
    margin-top: 10px;
}

.detall_icon {
    display: flex;
    width: 15%;
}

.detall_cont div {
    display: flex;
    margin: 0px 10px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150%;
}

.range_span {
    display: flex;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 15%;
    background: gray;
}

.range_span:first-child {
    height: 30%;
    width: 80%;
}

.range_span::before,
.range_span:first-child:before {
    content: '';
    display: flex;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(to right, var(--color_secun), var(--acento_color));
    width: 40%;
    height: 100%;
}

.range_span:first-child:before {
    width: 100%;
}

/* Seccion de Herramientas */
.section_herram {
    background: var(--fondo_caja);
    overflow: hidden;
    margin: 3%;
    padding: 3%;
    border-radius: 30px;
}

.section_herram h2 {
    color: var(--texto_prim);
    margin: 10px;
}

.cont_all_herr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cont_herr {
    position: relative;
    width: 20%;
    max-width: 100px;
    overflow: hidden;
    margin: 2%;
}

.img_herr {
    width: 100%;
    height: 100%;
    transition: all;
    transition-duration: .5s;
}

.img_herr_github {
    background: black;
    border-radius: 50%;
}

.descrip_herr {
    position: absolute;
    background: #1f222bf3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all;
    transition-duration: .5s;
    bottom: -100%;
    color: var(--texto_secun);
    font-weight: bold;
}

.cont_herr:hover .img_herr {
    transform: rotateY(360deg);
}

.cont_herr:hover .descrip_herr {
    bottom: 0px;
}

.herr_paragraph {
    background: var(--fondo_card);
    margin: 3%;
    padding: 4%;
    border-radius: 10px;
    transform: translateX(150px);
    opacity: 0;
    transition: all 1s ease;
}

.herr_paragraph.view {
    opacity: 1;
    transform: translateX(0px);
}

/* Seccion mas detalles */
.section_sobre_mi {
    display: flex;
    flex-direction: column;
    margin: 0px 3%;
    padding: 30px 2%;
}

.sobre_mi {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0px 5%;
    margin: 0px auto;
    max-width: 700px;
}

#section_perfil {
    position: absolute;
    right: 10%;
    flex-grow: initial;
    border-radius: 50% 30%;
    width: 40%;
    max-width: 200px;
    opacity: 0.3;
}

.perfil_top {
    padding-bottom: 10px;
    margin-right: 45%;
    margin-top: 10%;
    font-size: 30px;
    border-bottom: solid 2px var(--acento_color);
    color: var(--texto_prim);
    margin-bottom: 20px;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
    transform: translateX(-50px);
}

.perfil_top.view {
    opacity: 1;
    transform: translateX(0px);
}

.sobre_mi_phara {
    padding: 20px;
    line-height: 25px;
    background: var(--fondo_card);
    opacity: 0;
    border-radius: 20px;
    transition: all 1s ease 0.5s;
}

.sobre_mi_phara.view {
    opacity: 1;
}

p a {
    color: var(--acento_color);
}

/* Seccion de contacto */

.section_3 {
    display: flex;
    margin: 5%;
    background: var(--fondo_caja);
    border-radius: 50px;
    padding: 5%;
}

.container_social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--fondo_card);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    width: 0px;
    opacity: 0;
    transition: all 1s ease;
}

.container_social.view {
    padding: 0px 10px;
    opacity: 1;
    overflow: initial;
    width: initial;
    transform: rotateY(360deg);

}

.social_ico {
    width: 50px;
}

.contacto_cont_detall {
    background: var(--fondo_card);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;

}

.contacto_cont_detall h2 {
    padding-bottom: 10px;
    line-height: 30px;
    font-size: 30px;
    color: var(--texto_prim);
}

.contacto_cont_detall p {
    line-height: 25px;
    max-width: 400px;
}

/* up */

#up {
    position: fixed;
    right: 5%;
    bottom: 5%;
    background: var(--acento_color);
    box-shadow: inset 0px 0px 20px var(--acento_color);
    border-radius: 50%;
}

#up a img {
    width: 40px;

}

/* Pie de pagina */

footer {
    background: linear-gradient(var(--fondo_color), var(--fondo_color), #111019de);
    border-top: solid 4px #262c35;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
}

footer img {
    width: 60px;
    margin-right: 10px;
}

footer p {
    line-height: 25px;
    text-align: center;
}

@keyframes Animo_Logo {
    0% {
        top: 0%;
        right: 0%;
        transform: scale(.1);
        border-radius: 50%;
    }

    10% {
        top: -15%;
        right: 15%;
        transform: scale(.1);
    }

    20% {
        top: 15%;
        right: 15%;
    }

    30% {
        top: -15%;
        right: 15%;
    }

    40% {
        top: 0%;
        right: 0%;
    }

    50% {
        top: -15%;
        right: -15%;
    }

    60% {
        top: 15%;
        right: -15%;
        border-radius: 50%;
    }

    70% {
        top: -15%;
        right: -15%;
        transform: scale(.1);
    }

    80% {
        top: 0%;
        right: 0%;
    }

    90% {
        transform: scale(1);
        top: 0%;
        right: 0%;
    }

    100% {
        top: 0%;
        right: 0%;
        transform: scale(.1);
    }
}

/* Animando luces */
@keyframes Animo_Luces {
    50% {
        opacity: .5;
    }
}

/* Nimo pompet del MAlexium animado */
@keyframes Animo_Pompet {
    20% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

/* Mediaqueris para responsive al
paso para moviles y tabletas */

@media (max-width: 490px) {
    .section_3 {
        margin: 50px 10px;
    }
}

@media (max-width: 449px) {
    #section_perfil {
        top: 5%;
    }
}
